.mat-header-cell {
    color:red;
    text-align: center;
    justify-content: center;
  }
  
  .mat-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }