<!---
    without angular material
    <table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Stock</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.stock}}</td>
    </tr>
</table>
--->
<table class="example-table mat-elevation-z8" mat-table recycleRows [dataSource]="products">
    <!--dataSource provides the object from the .ts file to be shown on the html table-->
   <!--- <tr *ngFor="let p of products"> loop products array and display each product in html table row
    id Column -->
    <ng-container matColumnDef="id">
      <th class="mat-header-cell" *matHeaderCellDef> id </th> <!--column name-->
      <td mat-cell *matCellDef="let p"> {{p.id}} </td> <!--p.id to get the id value of the current product of the iteration-->
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="mat-header-cell" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let p"> {{p.name}} </td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th class="mat-header-cell" *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let p"> {{p.description}} </td>
    </ng-container>
  
    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th class="mat-header-cell" *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let p"> {{p.price}} </td>
    </ng-container>

  <!-- stock Column -->
  <ng-container matColumnDef="stock">
    <th class="mat-header-cell" *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let p"> {{p.stock}} </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
